@using Tournamentus.Core.Business.TournamentParticipator
@using Tournamentus.Core.Data.Identity
@model TournamentParticipatorList.QueryResult
@{ ViewData["Title"] = "Home page"; }


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        @foreach (User user in Model.Participators)
        {
        <li>@user.FirstName</li>
        }
    </ul>
</div>
