@using Tournamentus.Core.Business.Participator
@model ParticipatorList.QueryResult
@{ ViewData["Title"] = "Home page"; }


<div class="text-center">
    <h1 class="display-4">Participators</h1>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Participator Name</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Participators.Count > 0)
                {
                    @foreach (var user in Model.Participators)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                        </tr>
                    }
                }
            else
            {
                <tr>
                    <td>No user found!</td>
                </tr>
            }
            </tbody>
        </table>
    </section>
</div>
